.todo-container {
}

.todo-container__list {
}
.button-add {
  padding: 1.05rem 2rem 1.05rem 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
  border-color: #23213d;
  border: 1px;
  gap: 1rem;
  background: #23213d;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  width: 15rem;
  cursor: pointer;
}
.button-add:hover {
  background-color: red;
}
