.nick {
  border: 1px solid black;
  width: 200px;
  height: 40px;
  border-radius: 8px;
}
.adding {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  background-color: red;
  color: white;
}
.container-local-storage .nick {
  justify-self: center;
}
.container {
  border: 1px solid #c8cbd1;
  border-radius: 8px;
  width: 235px;
  height: 280px;
  padding-right: 38px 25px 38px 25px;
}
.container .delete {
  border-radius: 8px;
  background-color: red;
  color: white;
  height: 30px;
  width: 30px;
  grid-area: sidebar;
}
.main-container .h2 {
  justify-self: start;
}
.main-container .nick {
  justify-self: end;
}
